<html>
    <body>
        <form action="{{ url_for('result') }}" method="post">
            <input type="text" name="ticker">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>